/* Defintions des proprietes par defaut */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Definition de la palette de couleur principale */
:root {
    --bg-color: #191f36;
    --snd-bg-color: #262b40;
    --text-color: #fff;
    --main-color: #f49818;
    --burger-size: 30px;
}

/* ------------------------------------------------------------ */

/* Style de la page */
body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Nunito;
    color: var(--text-color);
}
 label {
    display: none;
 }

 label i {
    font-size: 2rem;
 }

 #menu-toggle {
    display: none;
 }

.orangeButton {
    padding: 0.5rem;
    width: 12rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-weight: 700;
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: 0 0 5px 5px var(--main-color);
    transition: all 1.2s ease;
}

.orangeButton:hover {
    box-shadow: none;
}

h1 {
    font-size: clamp(2.6rem, 10vw, 5.6rem);
    font-weight: 700;
}

h3 {
    font-size: clamp(1.2rem, 5.2vw, 3.2rem);
}

p {
    font-size: clamp(1rem, 2.2vw, 1.6rem);
}

.orangeColor {
    color: var(--main-color);
}

.salutations {
    font-size: clamp(1.2rem, 2.2vw, 2.6rem);
    font-weight: 700;
}

/* ------------------------------------------------------------ */

/* Style du header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    padding: 1rem 0;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    z-index: 9999;
}

header a {
    background-color: transparent;
    color: var(--text-color);
    border-radius: 0;
    width: auto;
    box-shadow: none;
    transition: all 0.3s ease;
    font-size: 1.5rem;
    font-weight: 700;
}

header a:hover {
    color: var(--main-color);
}

header nav {
    display: flex;
    justify-content: center;
}

.menu-checkbox {
    display: none;
}

#logo {
    font-size: clamp(1.5rem, 5vw, 2rem);
}

/* Style de la bare de navigation du header */

/* Style de la liste du header */
ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

/* ------------------------------------------------------------ */

/* Stylisation du main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Premiere section presentation du personnage */
#myself {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
    gap: 2rem;
}

/* Style de la partie contenant la presentation du personnage */
#myselfDiv {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

/* Style de la partie contenant l'image de la presentation */
#myselfImg {
    min-width: 300px;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 2rem solid #F9F4F4;
    animation: float 4s ease-in-out infinite;
    z-index: 1;
}

/* animation image flottante */
@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5vh);
    }

    100% {
        transform: translateY(0);
    }
}

#myselfImg img {
    width: 100%;
}

/* Style des icones resaux sociaux */
#myselfIcons {
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 0.5rem;
}

#myselfIcons i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    padding: 0.35rem;
    border-radius: 50%;
    border: 1px solid var(--main-color);
}

.myselfIcon {
    width: 100%;
    height: 100%;
}

/* Style de la section About me */
#aboutMe {
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    background-color: var(--snd-bg-color);
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* Style du texte dans about me */
#aboutMeDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 60vw;
}

/* Style de l'image dans About me */
#aboutMeImg {
    min-width: 300px;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem 50% 0 0;
    padding: 2rem;
    background-color: #F9F4F4;
}

#aboutMeImg img {
    width: 100%;
    border-radius: 50%;
}

/* Style de la section services */
#services {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bg-color);
    min-height: 100vh;
}

#container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Style des differents services dans leurs divs */
.servicesDiv {
    min-width: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: var(--snd-bg-color);
    transition: all 0.5s ease;
    z-index: 1;
}

.servicesDiv:hover {
    border: 1px solid var(--main-color);
    box-shadow: 0 0 1px 1px var(--main-color);
    transform: scale(1.02);
}

/* Styles des images dans les services */
.servicesDiv img {
    width: 7rem;
    height: 7rem;
}

/* Style de la section des realisations */
#myDoing {
    padding: 7rem 0.5rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--snd-bg-color);
    width: 100%;
    min-height: 100vh;
    text-align: center;
}

#imgMyDoing {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Style des images des differentes realisations */
.imgMyDoing {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24rem;
    height: 20rem;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 1.5rem;
}

.imageDoing {
    width: 25rem;
    height: 20rem;
    transition: all 0.5s ease;
}

.linkImage {
    width: 2rem;
    padding: 0.2rem;
    border-radius: 50%;
    background-color: var(--text-color);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    height: 100%;
    transition: all 0.5s ease;
    pointer-events: none;
    opacity: 0;
    z-index: 2;
    padding: 2rem 1.5rem;
}

.overlay p {
    font-size: 1rem;
}

.imgMyDoing:hover .overlay {
    background: linear-gradient(to top, var(--main-color), transparent);
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.imgMyDoing:hover img {
    transform: scale(1.1);
}

/* Style de la section des contacts */
#contact {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--bg-color);
    min-height: 100vh;
    width: 100%;
}

/* style de la section contenant le formulaire et la localisation */
#contactSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

/* Style du formulaire */
#contactSection form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 60vh;
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    border: none;
}

.inInput {
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
}

.inInput input {
    flex: 1;
    font-size: 1rem;
    background-color: var(--snd-bg-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
}

textarea {
    height: 100%;
    background-color: var(--snd-bg-color);
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
}

/* Style de la localisation */
iframe {
    flex: 1;
    height: 60vh;
    border-radius: 2rem;
}

/* Style du bouton du formulaire */
button {
    margin-top: 1rem;
    width: 10rem;
    text-align: center;
    padding: 0.25rem;
    color: var(--bg-color);
    border-radius: 1.5rem;
    background-color: var(--main-color);
    box-shadow: 0 0 2px 3px var(--main-color);
    border: none;
    font-weight: 700;
}

/* ----------------------------------------------------------- */

/* Style du footer */
footer {
    background-color: var(--snd-bg-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

footer p {
    font-size: 0.9rem;
}

footer a {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 0.2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

footer i {
    font-size: 2rem;
    font-weight: 700;
}


@media (max-width: 989px) {
    #myself {
        padding-top: 20vh;
    }

    #myselfDiv {
        align-items: center;
        text-align: center;
    }

    #aboutMeDiv {
        align-items: center;
        text-align: center;
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 0.5rem
    }

    ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        /* z-index: 1000; */
        transform: translateY(30%);
        flex-direction: column;
        background: var(--bg-color);
        width: 100%;
        justify-self: center;
        text-align: center;
    }

    label {
        display: block;
    }

}