/* Defintions des proprietes par defaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid; */
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
}

a {
    width: 10rem;
    text-align: center;
    padding: 0.25rem;
    color: var(--bg-color);
    border-radius: 1.5rem;
    background-color: var(--main-color);
    box-shadow: 0 0 2px 3px var(--main-color);
}

/* Definition de la palette de couleur principale */
:root {
    --bg-color: #191f36;
    --snd-bg-color: #262b40;
    --text-color: #fff;
    --main-color: #f49818;
}

/* ------------------------------------------------------------ */

/* Style de la page */
body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* ------------------------------------------------------------ */

/* Style du header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    padding: 1rem 0;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
header a
{
    background-color: transparent;
    color: var(--text-color);
    border-radius: 0;
    width: auto;
    box-shadow: none;
    transition: all 0.3s ease;
}
header a:hover {
    color: var(--main-color);
}

/* Style de la bare de navigation du header */
header nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

#logo
{
    font-size: 1.5rem;
}

/* Style de la liste du header */
ul {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

/* ------------------------------------------------------------ */

/* Stylisation du main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Premiere section presentation du personnage */
#myself {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
    gap: 2rem;
}

/* Style de la partie contenant la presentation du personnage */
#myselfDiv {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

/* Style de la partie contenant l'image de la presentation */
#myselfImg
{
    min-width: 300px;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 2rem solid #F9F4F4;
    animation: float 4s ease-in-out infinite;
    z-index: 1;
}

/* animation image flottante */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5vh);
    }
    100% {
        transform: translateY(0);
    }
}
#myselfImg img
{
    width: 100%;
} 

/* Style des icones resaux sociaux */
#myselfIcons
{
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 0.5rem;
}
#myselfIcons i
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.1rem;
    width: 2.1rem;
    padding: 0.35rem;
    border-radius: 50%;
    border: 1px solid var(--main-color);
}
.myselfIcon
{
    width: 100%;
    height: 100%;
}

/* Style de la section About me */
#aboutMe
{
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    background-color: var(--snd-bg-color);
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* Style du texte dans about me */
#aboutMeDiv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 60vw;
}

/* Style de l'image dans About me */
#aboutMeImg
{
    min-width: 300px;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem 50% 0 0;
    padding: 2rem;
    background-color: #F9F4F4;
}
#aboutMeImg img
{
    width: 100%;
    border-radius: 50%;
}

/* Style de la section services */
#services
{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bg-color);
    min-height: 100vh;
}

#container
{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Style des differents services dans leurs divs */
.servicesDiv
{
    min-width: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: var(--snd-bg-color);
    transition: all 0.5s ease;
    z-index: 1;
}
.servicesDiv:hover
{
    border: 1px solid var(--main-color);
    box-shadow: 0 0 1px 1px var(--main-color);
    transform: scale(1.02);
}

/* Styles des images dans les services */
.servicesDiv img
{
    width: 4rem;
}

/* Style de la section des realisations */
#myDoing
{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--snd-bg-color);
    width: 100%;
    min-height: 100vh;
    text-align: center;
}
#myDoing section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
}

/* Style des images des differentes realisations */
.myDoingImg
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.myDoingImg
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.myDoingImg img
{
    min-width: 300px;
    width: 25vw;
    max-height: 40vh;
    height: 100%;
    border-radius: 2rem;
}

/* Style de la section des contacts */
#contact
{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--bg-color);
    min-height: 100vh;
    width: 100%;
}

/* style de la section contenant le formulaire et la localisation */
#contactSection
{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 1rem;
}

/* Style du formulaire */
#contactSection form
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 60vh;
}
#inputs
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    border: none;
}

.inInput
{
    border: none;
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.inInput input
{
    flex: 1;
    font-size: 1rem;
    background-color: var(--snd-bg-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
}

textarea
{
    height: 100%;
    background-color: var(--snd-bg-color);
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
}

/* Style de la localisation */
iframe
{
    flex: 1;
    height: 60vh;
}

/* Style du bouton du formulaire */
button
{
    margin-top: 1rem;
    width: 10rem;
    text-align: center;
    padding: 0.25rem;
    color: var(--bg-color);
    border-radius: 1.5rem;
    background-color: var(--main-color);
    box-shadow: 0 0 2px 3px var(--main-color);
    border: none;
}
/* ----------------------------------------------------------- */

/* Style du footer */
footer
{
    background-color: var(--snd-bg-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

footer a
{
    width: 2rem;
    height: 2rem;
    border-radius: 0.2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 989px) {
    #myself
    {
        padding-top: 20vh;
    }
    #myselfDiv
    {
        align-items: center;
        text-align: center;
    }

    #aboutMeDiv
    {
        align-items: center;
        text-align: center;
    }

}